<h1>Welcome to Eau Claire's Salon!</h1>
<hr/>
<h2>@Html.ActionLink("See all stylists", "Index", "Stylist")</h2>
<h2>@Html.ActionLink("See all clients", "Index", "Client")</h2>
<h2>@Html.ActionLink("Home", "Index", "Home")</h2>