@model Salon.Models.Stylist
<h2>Stylist Details</h2>
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>
<p>@Html.ActionLink("Back to stylists", "Index")</p>