@model Salon.Models.Stylist
@using Salon.Models.Client

<h2>Stylist Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>
<h4>Clients:</h4>


<p>@Html.ActionLink("Back to stylists", "Index")</p>
<p>@Html.ActionLink("Add client", "Create", "Client")</p>